.categories {
  width: 270px;
  background: #202020;

  .categoriesSection {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #373737;
    padding: 12px 0;
    color: white;
    h3 {
      padding: 8px 26px;
      color: #909090;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.007px;
    }
  }
  .category {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
    &:hover {
      background: #373737;
    }
    span {
      font-size: 1.4rem;
    }
    i {
      margin-right: 25px;
      img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
      }
    }
  }
  .active:first-child {
    background: #383838;
    &:hover {
      background: #e5e5e5a8;
    }
  }
}

@media (max-width: 851px) {
  .categories {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    z-index: 100;

    .categoriesSection {
      display: none;

      &.categoriesSectionMain {
        display: flex;
        flex-direction: row;
        padding: 0;
      }

      .category {
        width: auto;
        flex: 1;
        justify-content: center;

        i {
          margin: 0;
        }
      }

      span > span {
        display: none;
      }
    }
  }
}
