.details {
  display: flex;
  padding-top: 10px;
  .text {
    display: flex;
    flex-direction: column;
    h3 {
      margin-top: 0;
      font-weight: 500;
      font-size: 1.6rem;
      color: #f7ffff;
      margin-bottom: 6px;
    }
    a {
      color: inherit;
      text-decoration: none;
      font-size: 1.4rem;
      margin-bottom: -3.4px;
      padding-bottom: -3.4px;
      color: #aaaaaa;
      &:hover {
        color: #ffffff;
      }
    }
  }
}
