.searchBar {
  display: flex;
  justify-content: space-between;
  padding: 0 1.6px;
  align-items: center;
  height: 5.6rem;
  position: sticky;
  top: 0;
  background: #202020;
  font-size: 1rem;
  width: 100%;
  z-index: 1000;

  i {
    padding: 0 0.75rem;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 0.8rem;

    img {
      display: flex;
      width: 8rem;
      margin-right: 2.5rem;
    }
    a {
      img {
        height: 2.4rem;
        width: 2.4rem;
      }
    }
  }

  .search {
    max-width: 53.1rem;
    flex: 1;

    @media (max-width: 656px) {
      display: none;
    }
    form {
      height: 3rem;
      display: flex;
      align-items: center;
    }
    input,
    button {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    button {
      background: #323232;
      border: none;
      width: 6.5rem;
      height: 3rem;
      outline: none;
    }
    input {
      width: 100%;
      background: #121212;
      border: none;
      color: white;
      border: 1px solid #373737;

      padding: 0 0.5rem;

      &:focus {
        outline: none;
        border: 1px solid #2962b8;
      }
    }
  }
  .icons {
    a {
      text-decoration: none;
      padding: 0 0.8rem;
      color: white;

      &.icon__search {
        display: none;

        @media (max-width: 656px) {
          display: inline-flex;
        }
      }

      svg {
        fill: white;
        height: 24px;
        width: 24px;
      }

      img {
        fill: white;
        height: 24px;
        width: 24px;

        &.avatar {
          height: 3.2rem;
          width: 3.2rem;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (max-width: 391px) {
  .icons a {
    display: none;

    &:last-child {
      display: inline-flex;
    }
  }
}
