.videos {
  background: #181818;
  width: 100%;
  padding: 15px 25px;
  overflow: hidden;
  border-top: 1px solid #373737;
  .videosGrid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #202020;
    margin-left: 80px;
    margin-top: 20px;
    .video {
      margin: 0 0.3rem;
      margin-bottom: 40px;
      &:hover {
        transform: scale(1.01);
      }
      .thumbnail {
        width: 360px;
        height: 200px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .author {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .text {
        span {
          font-size: 1.4rem;
          margin-top: 5px;
          color: #aaaaaa;
        }
      }
    }
  }
}

/*@media (max-width: 1454px) {
  .videosGrid {
    justify-content: space-evenly;
    background: green;
  }
}*/

@media (max-width: 1075px) {
  .videosGrid {
    background: purple;
    /* margin-left: 0;
    justify-content: center;
  */
  }
}
