@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto;
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
}

i {
  font-style: none;
}

.searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.6rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #202020;
  font-size: 1rem;
  width: 100%;
}

.searchBar i {
  padding: 0 0.75rem;
}

.searchBar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
}

.searchBar .logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8rem;
  margin-right: 2.5rem;
}

.searchBar .logo a img {
  height: 2.4rem;
  width: 2.4rem;
}

.searchBar .search form {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchBar .search input,
.searchBar .search button {
  height: 100%;
  margin: 0;
  padding: 0;
}

.searchBar .search button {
  background: #323232;
  border: none;
  width: 6.5rem;
  height: 3rem;
  outline: none;
}

.searchBar .search input {
  width: 53.1rem;
  max-width: 100%;
  background: #121212;
  border: none;
  color: white;
  border: 1px solid #373737;
}

.searchBar .search input:focus {
  outline: none;
  border: 1px solid #2962b8;
}

.searchBar .icons a {
  text-decoration: none;
}

.searchBar .icons a img {
  padding: 0 0.8rem;
}

.searchBar .icons a .avatar {
  height: 3.2rem;
  border-radius: 50%;
}

@media (max-width: 975px) {
  .icons {
    display: none;
  }
}

@media (max-width: 851px) {
  .search input {
    display: none;
  }
}

.mainBody {
  height: 106vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.categories {
  width: 270px;
  height: 100%;
  background: #202020;
}

.categories .categoriesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #373737;
  padding: 12px 0;
  color: white;
}

.categories .categoriesSection h3 {
  padding: 8px 26px;
  color: #909090;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.007px;
}

.categories .category {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  cursor: pointer;
}

.categories .category:hover {
  background: #373737;
}

.categories .category span {
  font-size: 1.4rem;
}

.categories .category i {
  margin-right: 25px;
}

.categories .category i img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.categories .active:first-child {
  background: #383838;
}

.categories .active:first-child:hover {
  background: #e5e5e5a8;
}

@media (max-width: 851px) {
  .categories {
    width: 70px;
  }
  .categories span {
    display: none;
  }
}

.videos {
  background: #181818;
  width: 100%;
  padding: 15px 25px;
  overflow: hidden;
  border-top: 1px solid #373737;
}

.videos .videosGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #202020;
  margin-left: 80px;
  margin-top: 20px;
}

.videos .videosGrid .video {
  margin: 0 0.3rem;
  margin-bottom: 40px;
}

.videos .videosGrid .video:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.videos .videosGrid .video .thumbnail {
  width: 360px;
  height: 200px;
}

.videos .videosGrid .video .thumbnail img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.videos .videosGrid .video .author {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.videos .videosGrid .video .author img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.videos .videosGrid .video .text span {
  font-size: 1.4rem;
  margin-top: 5px;
  color: #aaaaaa;
}

/*@media (max-width: 1454px) {
  .videosGrid {
    justify-content: space-evenly;
    background: green;
  }
}*/
@media (max-width: 1075px) {
  .videosGrid {
    background: purple;
    /* margin-left: 0;
    justify-content: center;
  */
  }
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.details .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details .text h3 {
  margin-top: 0;
  font-weight: 500;
  font-size: 1.6rem;
  color: #f7ffff;
  margin-bottom: 6px;
}

.details .text a {
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: -3.4px;
  padding-bottom: -3.4px;
  color: #aaaaaa;
}

.details .text a:hover {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */